<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chorse</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header>
        💪 Chorse
    </header>
    <!-- Todo: Refreshing (or raw getting, ig) doesn't fill content here :P -->
    <main id="MainOutlet" hx-history-elt hx-trigger="load" hx-get="/view/home">
        <p>Loading...</p>
    </main>
    <footer>
        <nav>
            <ul>
                <li>
                    <a href="#" title="Home" hx-get="/view/home" hx-target="#MainOutlet" hx-push-url="true">🏠
                    </a>
                </li>
                <li>
                    <a href="#" title="Leaderboard" hx-get="/view/leaderboard" hx-target="#MainOutlet"
                        hx-push-url="true">👥
                    </a>
                </li>
                <li>
                    <a href="#" title="Config" hx-get="/view/config" hx-target="#MainOutlet" hx-push-url="true">⚙️
                    </a>
                </li>
            </ul>
        </nav>
    </footer>
</body>
<script src="/htmx.min.js"></script>

</html>